<apex:page standardController="Campaign" extensions="rC_Giving.Campaign_EmbedResponseTimeline" action="{!initialize}" standardStylesheets="false" sidebar="false" showHeader="false">
    <script type="text/javascript">
        myChart.on('beforeconfig', function(config) {
            config.axes[0].margin = -10; 
        });
    </script>
    
    <apex:chart name="CampaignResponseTimeline" height="300" width="100%" animate="true" data="{!chartDataList}" resizable="true" >
        <apex:legend position="right" FONT=".60"/>

        <apex:axis type="Numeric" position="right" fields="data3" steps="1" title="Giving Count (#)" grid="False" minimum="0" />
        <apex:axis type="Numeric" position="left" fields="data1" steps="1" title="Giving Amount ($)" grid="False" minimum="0" />
        <apex:axis type="Category" position="bottom" fields="name" title="Date" minimum="0" >
            <apex:chartLabel rotate="315" />
        </apex:axis>
          
        <apex:barSeries title="Giving Count" orientation="vertical" stacked="false" highlight="true" highlightOpacity=".80"  axis="right" xField="name" yField="data3" colorSet="#95A5CD" highlightColor="#95A5CD" colorsProgressWithinSeries="true"/>
        <apex:lineSeries title="Committed" strokeColor="#E6C788" opacity="0.35" strokeWidth=".5" axis="left" fill="False" xField="name" yField="data1" markerType="circle" markerSize="1" markerFill="#E6C788"  />
        <apex:lineSeries title="Received" strokecolor="#CC9933" opacity="0.35" strokeWidth=".5" fillcolor="#E6C788" axis="left" fill="True" xField="name" yField="data2" markerType="circle" markerSize="1" markerFill="#CC9933" />
    </apex:chart>
    <apex:outputLabel value="No responses have come in" style="margin-left:38%;" rendered="{!NOT(displayChart)}"/>
</apex:page>