<apex:page standardController="Opportunity" extensions="rC_Giving.Opportunity_ManageTransactionsRedirect" recordSetVar="opportunitySet" action="{!initializeRedirect}">
    <apex:pageMessages />
</apex:page>