<apex:page standardController="Account" Extensions="rC_Bios.Relationship_Manage" sidebar="false" standardStylesheets="true" showHeader="false">
	<apex:form style="margin:0px;padding:0px;">
		<c:Relationship_Table relationshipList="{!relationshipList}" controllerType="Account" controllerId="{!controllerId}" />
	</apex:form>
</apex:page>