<apex:page standardController="rC_Bios__Action_Plan__c" recordSetVar="actionPlanSet" action="{!$Page.ActionPlan_Manage}?relatedId={!$CurrentPage.Parameters.Id}">
    <apex:pageMessages />
</apex:page>