<apex:page standardcontroller="Contact" extensions="rC_Bios.Contact_Clone" action="{!cloneContactAlongWithAddress}">
    <apex:pageBlock >
        <apex:pageMessages />
    </apex:pageBlock>
</apex:page>