<apex:page standardController="Campaign" extensions="rC_Event.Campaign_Manage_PrintSessions">
    <apex:form id="mainForm">
        <apex:pageBlock mode="edit">
            
            <apex:pageBlockSection > 
                <apex:selectList value="{!filterType}" size="1">
                    <apex:selectOption itemValue="{!FILTER_TASKS}" itemLabel="{!FILTER_TASKS}"/>
                    <apex:selectOption itemValue="{!FILTER_EVENTS}" itemLabel="{!FILTER_EVENTS}"/>
                    <apex:selectOption itemValue="{!FILTER_TASKS_AND_EVENTS}" itemLabel="{!FILTER_TASKS_AND_EVENTS}"/>
                    <apex:actionSupport event="onchange" rerender="mainForm, task-filter, event-filter" />
                </apex:selectList>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection title="Event Filters" collapsible="false" rendered="{!filterType != 'Tasks'}" >
                <apex:outputPanel id="event-filter">
                    <div style="width: 700px;">
                        <table>
                            <tr>
                                <th>Field</th>
                                <th>Operator</th>
                                <th>Value</th>
                                <th>&nbsp;</th>
                            </tr>
                            <apex:variable var="eventRowcount" value="{!1}"/>
                            <apex:repeat value="{!eventCriteriaList}" var="eventCriteria">
                                <tr>
                                    <td>
                                        <apex:actionRegion >
                                        <apex:selectList value="{!eventCriteria.fieldName}" size="1">
                                            <apex:selectOptions value="{!eventFieldSelectOptionList}"/>
                                            <apex:actionSupport event="onchange" rerender="eventfieldValueId,eventselectList" action="{!resetOperatorsForEventsCriteria}">
                                                 <apex:param name="index" value="{!eventRowcount}"/>
                                            </apex:actionSupport>
                                        </apex:selectList>
                                        </apex:actionRegion>
                                    </td>
                                    <td><apex:selectList value="{!eventCriteria.operator}" size="1" id="eventselectList">
                                            <apex:selectOptions value="{!operators}" rendered="{!eventCriteria.fieldName == null}"/>
                                            <apex:selectOptions value="{!eventCriteria.operators}" rendered="{!eventCriteria.fieldName != null}"/>
                                        </apex:selectList>
                                    </td>
                                    <td>
                                        <apex:outputPanel id="eventfieldValueId">
                                        <apex:inputText rendered="{!eventCriteria.fieldName == null}"/>
                                        <apex:inputField value="{!eventCriteria.event[eventCriteria.fieldName]}" rendered="{!eventCriteria.fieldName != null}" required="false"/>
                                        </apex:outputPanel>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td><apex:outputLabel value="AND" rendered="{!eventRowcount != eventCriteriaList.size}"/></td>
                                </tr>
                                <apex:variable var="eventRowcount" value="{!eventRowcount + 1}"/>
                            </apex:repeat>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><apex:commandLink action="{!initializeEventFieldSelectOptionList}" value="Clear Filters" rerender="event-filter" /></td>
                            </tr>
                        </table>
                    </div>
                </apex:outputPanel>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection title="Task Filters" collapsible="false" rendered="{!filterType != 'Events'}" >
                <apex:outputPanel id="task-filter">
                    <div style="width: 700px;">
                        <table >
                            <tr>
                                <th>Field</th>
                                <th>Operator</th>
                                <th>Value</th>
                                <th>&nbsp;</th>
                            </tr>
                            <apex:variable var="taskRowcount" value="{!1}"/>
                            <apex:repeat value="{!taskCriteriaList}" var="taskCriteria">
                                <tr>
                                    <td >
                                        <apex:actionRegion >
                                        <apex:selectList value="{!taskCriteria.fieldName}" size="1">
                                            <apex:selectOptions value="{!taskFieldSelectOptionList}"/>
<!--                                             <apex:actionSupport event="onchange" rerender="mainForm, task-filter" /> -->
                                            <apex:actionSupport event="onchange" rerender="taskfieldValueId,taskselectList" action="{!resetOperatorsForTasksCriteria}">
                                                 <apex:param name="index" value="{!taskRowcount}"/>
                                            </apex:actionSupport>
                                        </apex:selectList>
                                        </apex:actionRegion>
                                    </td>
                                    <td ><apex:selectList value="{!taskCriteria.operator}" size="1" id="taskselectList">
                                            <apex:selectOptions value="{!operators}" rendered="{!taskCriteria.fieldName == null}"/>
                                            <apex:selectOptions value="{!taskCriteria.operators}" rendered="{!taskCriteria.fieldName != null}"/>
                                        </apex:selectList>
                                    </td>
                                    <td>
                                        <apex:outputPanel id="taskfieldValueId">
                                        <apex:inputText rendered="{!taskCriteria.fieldName == null}"/>
                                        <apex:inputField value="{!taskCriteria.task[taskCriteria.fieldName]}" rendered="{!taskCriteria.fieldName != null}" required="false"/>
                                        </apex:outputPanel>
                                    </td>
                                    
                                    <td>&nbsp;</td>
                                    <td ><apex:outputLabel value="AND" rendered="{!taskRowcount != taskCriteriaList.size}"/>
                                    </td>
                                </tr>
                                <apex:variable var="taskRowcount" value="{!taskRowcount + 1}"/>
                            </apex:repeat>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><apex:commandLink action="{!initializeTaskFieldSelectOptionList}" value="Clear Filters" rerender="task-filter" /></td>
                            </tr>
                        </table>
                    </div>
                </apex:outputPanel>
            </apex:pageBlockSection>
            
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Print Run-Of-Show" action="{!redirectToPdf}" /><!-- action="{!updateTaskList}" -->
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>