<apex:page standardController="Campaign" extensions="rC_Event.Campaign_RegistrationLanding" action="{!initialize}" sidebar="false" showHeader="false" standardStylesheets="false">
    <style type="text/css">
body {
    margin: 0em 10em;
    padding: 2em 2em;
    /* border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;*/
}

h1,h2,h3,h4,h5,h5 {
    margin: 0em;
    padding: 0em;
}
</style>

    <apex:form id="mainForm" styleClass="mainForm">
        <apex:outputPanel layout="none">
            <h1>{!campaign.Name}</h1>
        </apex:outputPanel>
        
        <apex:outputPanel layout="block" >
            <apex:outputText value="{!campaign.rC_Event__Registration_Landing_Page__c}" rendered="{!AND(addedToWaitlist == false)}"/>
            <apex:outputText value="{!campaign.rC_Event__Added_To_Waitlist_Text__c}" rendered="{!AND(addedToWaitlist == true)}"/>
        </apex:outputPanel>
    </apex:form>
</apex:page>