<apex:page standardController="rC_Event__Campaign_Meal__c" action="{!$Page.Campaign_Manage}?id={!Campaign_Meal__c.Campaign__c}&currentTab=meals">
    <!-- TO AVOID: SObject row was retrieved via SOQL without querying the requested field: Campaign_Meal__c.Campaign__c -->
    <apex:outputPanel layout="none" rendered="{!NOT(ISBLANK(rC_Event__Campaign_Meal__c.rC_Event__Campaign__c))}" />
    <apex:pageMessages />
</apex:page>