<apex:page Controller="rC_Event.Campaign_Manage_ImageUpload" showHeader="false" action="{!initializeImage}">
    <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" />
    <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.js" />
    <apex:stylesheet value="{!URLFOR($Resource.rC_Event__venuelayout_render, 'css/ext/image-crop/imgareaselect-animated.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.rC_Event__venuelayout_render, 'js/ext/jquery.imgareaselect.pack.js')}" />
    
    <style type="text/css">
input {
    float: left;
}

body {
    width: 100%;
    height: 100%;
}

.requiredLegend {
    display: none;
}
</style>

     <apex:form >
        <apex:pageMessages />
        <apex:inputText value="{!uploadedDone}" styleClass="hiddenConfirm" style="display:none;"/>
        <apex:inputText value="{!x1}" styleClass="x1" style="display:none;"/>
        <apex:inputText value="{!y1}" styleClass="y1" style="display:none;"/>
        <apex:inputText value="{!x2}" styleClass="x2" style="display:none;"/>
        <apex:inputText value="{!y2}" styleClass="y2" style="display:none;"/>
        <apex:outputpanel >
            <apex:image id="uploadPreview" style="display:none;" styleClass="uploadPreview"/>
        </apex:outputpanel>
        <apex:outputpanel rendered="{!!uploadedDone}">
            <apex:inputFile value="{!document.Body}" accept=".JPEG,.jpg,.png" fileName="{!imageName}" styleClass="uploadImage"/>
            <apex:commandButton value="Upload" action="{!upsertImage}" style="width: 45px;margin-left:30px;" />
        </apex:outputpanel>
        <apex:outputpanel rendered="{!uploadedDone}">
            <apex:pageMessage title="Image Uploaded successfully, Please close the window and save the changes" severity="INFO"/>
        </apex:outputpanel>
    </apex:form>
    
    <script type="text/javascript">
       var p = $(".uploadPreview");
       $(".uploadImage").change(function(){
           p.fadeOut();
           var oFReader = new FileReader();
           oFReader.readAsDataURL(this.files[0]);
           oFReader.onload = function (oFREvent) {
               p.attr('src', oFREvent.target.result).fadeIn();
           };
           var position = getURLParameter('position'); 
           $('.x1-' + position, window.top.document).val(0);
           $('.y1-' + position, window.top.document).val(0);
           $('.x2-' + position, window.top.document).val(0);
           $('.y2-' + position, window.top.document).val(0);
       });
       
       $('img.uploadPreview').imgAreaSelect({ handles: true, onSelectEnd: setInfo });
       
       
       function setInfo(i, e) {
       
           var position = getURLParameter('position'); 
           $('.x1-' + position, window.top.document).val(e.x1);
           $('.y1-' + position, window.top.document).val(e.y1);
           $('.x2-' + position, window.top.document).val(e.width);
           $('.y2-' + position, window.top.document).val(e.height);
           return true;
       }
       var refreshParent = function(){
            try {
                //console.log('window.location=' + window.location);
                
                var isUploaded = getURLParameter('uploaded'); 
                var position = getURLParameter('position'); 
                var imageId = getURLParameter('imageId');
                
                //console.log('isUploaded=' + isUploaded);
                //console.log('imageId=' + imageId);
                
                if (isUploaded == "true"){
                     $('.label-' + position, window.top.document).text('servlet/servlet.FileDownload?file=' + imageId);
                     $('.text-' + position, window.top.document).val('servlet/servlet.FileDownload?file=' + imageId);
                     $('.data-' + position, window.top.document).val(imageId);
                     //console.log($(".ui-dialog .ui-dialog-titlebar-close", window.top.document));
                     //$(window.top.document).find(".dialogBox").dialog("close");
                }
            }
            catch(err){
                
                //console.log(err); 
            }
        };
        
        function getURLParameter(name) {
            return decodeURI(
                (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
            );
        };
        
        $(document).ready(function(){
            refreshParent();
        });
    </script>
</apex:page>