<apex:page standardController="Contact" extensions="rC_Connect.Badges_Manage" showHeader="false" sidebar="false" action="{!initialize}" id="idPage">
    <apex:form id="formId">
        <apex:PageMessages id="pgMsg" />
        
        <apex:repeat value="{!badgeSettingList}" var="badgeSetting" >
            <img id="theImage" src="{!badgeSetting.Image_Path__c}" width="{!badgeSetting.Horizontal_Badge_Size__c}" title="{!badgeSetting.Text_shown_on_Hover__c}" height="{!badgeSetting.Vertical_Badge_Size__c}"/>
        </apex:repeat>
    </apex:form>
</apex:page>