<apex:page standardController="Opportunity" extensions="rC_Connect.Opportunity_ConfirmProcessPayment" action="{!initializeSafe}">
    <apex:sectionHeader title="Confirm Process Payment" subtitle="{!Opportunity.Name}" />

    <apex:pageMessage severity="Info" strength="3" title="Please Confirm:" summary="This will submit this transaction for payment processing." />
    <apex:pageMessages />

    <apex:form style="margin-left: 2em;">
        <apex:commandButton value="Process Payment" action="{!confirm}" />
        <apex:commandButton value="Cancel" action="{!BLANKVALUE($CurrentPage.Parameters.retURL, URLFOR($Action.Opportunity.View, Opportunity.Id))}" />
    </apex:form>
</apex:page>